#tabelka_show {
  width: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
  text-align: center;
  overflow-y: scroll;
}

body {
  display: block;
  margin: 8px;
  text-align: center;
  /* background-color: lightblue; */
}

a {
  color: #000000;
  text-decoration-line: none;
}

.czerwona_obwodka {
  border: 2px solid red;
}

.zielona_obwodka {
  border: 2px solid green;
}
